{% extends "base.html" %}
{%block title%} News Entries - Contract News {%endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-3">News Entries</h1>
    <p class="lead">All the latest news articles here. See if they are true, or not...</p>
    <hr class="my-4">
</div>
<div class="container">

    <div class="media border px-5 py-5 rounded">  
            <a href=""  class="d-block">
                <img class="mr-3" src="http://via.placeholder.com/80x80" alt="Generic placeholder image">
            </a>
            <a href="" class="text-secondary d-block">
                <div class="media-body">
                   <h5 class="mt-0 ">Latest Article</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </a>
            <p class="text-success">True Story</p>
    </div>

</div>
{%endblock%}